* {
  font-family: "SFP", sans-serif;
  margin: 0;
}

.first-header {
  min-height: 44px;
  width: 100%;
  background-color: #454F5B;
  color: white;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1.92px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.first-header__callback {
  text-decoration: underline;
  margin-left: 197px;
}

.second-header__menu {
  height: 82px;
  box-shadow: 0px -1px 0px 0px #C4CDD5 inset;
  display: flex;
  align-items: center;
  justify-content: center;
}

.second-header__logo img {
  margin: 0 100px 0 100px;
  width: 50.4px;
  height: 42px;
}

.second-header__list {
  display: flex;
}
.second-header__list li {
  list-style: none;
  margin-right: 32px;
}
.second-header__list li:last-child {
  margin-right: 281px;
}

.second-header__phone {
  display: flex;
  align-items: center;
  margin-right: 34px;
}
.second-header__phone img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.second-header__button {
  width: 125px;
  height: 35px;
  margin-right: 35px;
  border: none;
  background-color: #4295E4;
}
.second-header__button a {
  text-decoration: none;
  color: white;
}

.second-header__icons img {
  width: 32px;
  height: 32px;
}
.second-header__icons img:first-child {
  margin-right: 24px;
}

.first-screen {
  min-height: 774px;
  background-color: #FAFAFA;
}
.first-screen__item {
  position: relative;
  top: 128px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.first-screen__item-image img {
  width: 489px;
  height: 518px;
}
.first-screen__item button {
  margin-top: 16px;
  width: 220px;
  height: 50px;
  background-color: #4295E4;
  border: none;
  color: white;
}
.first-screen__descr {
  margin-left: 74px;
}
.first-screen__title {
  color: #161C24;
  font-size: 44px;
  font-style: normal;
  font-weight: 600;
  white-space: pre-wrap;
}
.first-screen__sub-title {
  margin-top: 20px;
  color: #454F5B;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  white-space: pre-wrap;
}
.first-screen__price-new {
  font-size: 24px;
  font-weight: 600;
  color: black;
}
.first-screen__price-old {
  font-size: 24px;
  text-decoration: line-through;
  color: #A4A4A4;
}
.first-screen__price-name {
  margin-top: 32px;
  color: grey;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}
.first-screen__slider {
  margin-top: 150px;
  gap: 24px;
}
.first-screen__slider_navigation-arrows_right, .first-screen__slider_navigation-arrows_left {
  width: 32px;
  height: 32px;
}
.first-screen__slider_navigation {
  display: flex;
  align-items: center;
  justify-content: center;
}
.first-screen__slider_navigation-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}
.first-screen__slider_navigation-dot {
  margin-right: 15px;
  width: 6px;
  height: 6px;
  background-color: #ADD7FF;
  border-radius: 50px;
}
.first-screen__slider_navigation-dot:last-child {
  margin-right: 24px;
}
.first-screen__slider_navigation-dot:first-child {
  margin-left: 24px;
}

.active {
  width: 24px;
  height: 24px;
}/*# sourceMappingURL=style.css.map */